### 导入库以及Test2数据

In [1]:
import pandas as pd  
import numpy as np
from apyori import apriori

In [2]:
dataset = pd.read_csv("./src/Test2_data.csv")
print (dataset.shape)
dataset.head()

(1200, 671)

,VTYPE_1,VTYPE_2,VTYPE_3,VTYPE_4,VTYPE_5,VSEX_-,VSEX_F,VSEX_M,VAGE_1,VAGE_2,...,LIGHTING_B,LIGHTING_C,LIGHTING_D,LIGHTING_E,RIGHTWAY_-,RIGHTWAY_A,RIGHTWAY_B,RIGHTWAY_C,RIGHTWAY_D,Label
0,0,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,False
1,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,True
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,False
3,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,False
4,0,1,0,0,0,0,1,0,1,0,...,0,1,0,0,0,1,0,0,0,False

In [3]:
items = dataset.columns
items

Index(['VTYPE_1', 'VTYPE_2', 'VTYPE_3', 'VTYPE_4', 'VTYPE_5', 'VSEX_-',
       'VSEX_F', 'VSEX_M', 'VAGE_1', 'VAGE_2',
       ...
       'LIGHTING_B', 'LIGHTING_C', 'LIGHTING_D', 'LIGHTING_E', 'RIGHTWAY_-',
       'RIGHTWAY_A', 'RIGHTWAY_B', 'RIGHTWAY_C', 'RIGHTWAY_D', 'Label'],
      dtype='object', length=671)

In [4]:
length = len(dataset)
length

1200

### 将dataframe 转化为2D Arrary

In [5]:
D=[]
for i in range(length):
    # 只保留value为 1 或 True 的 item
    tempTF = dataset.loc[i]==1
    temp_transa = items[tempTF].tolist()
    D.append(temp_transa)

In [6]:
f = open("./output_q2/dataList.txt","w")
for i in range(length):
    f.write("%s\n" %D[i])
f.close()

### 使用apriori function获取 Rule

In [7]:
# 获取 support>=0.1, confidence >= 0.7 的Rule, 最大长度为3
association_rules = apriori(D, min_support=0.1, min_confidence=0.7,max_length =3)

In [8]:
# 将iterator 转化为 list
association_results=list(association_rules)

In [9]:
# 筛选出 等式右侧为 "Label" 的 Rule
ruleLen = len(association_results)
# 将 Rule 中的 元素保存到 list中
resultList=[]
for i in range(ruleLen):
    if association_results[i].ordered_statistics[0].items_add == frozenset(['Label']):
        temp = list (association_results[i].ordered_statistics[0].items_base)
        temp.append("Label")
        resultList.append( temp )

## 输出 结果到 output_q2 文件夹下 的 output.txt

In [10]:
f = open("./output_q2/output.txt","w")
flag=0
for rule in resultList:
    if not flag:
        if len(rule)>2:
            flag=1
    
    if flag:
        f.write("Rule:\t{}, {} -> {}.\n".format(rule[0],rule[1], rule[2]))
    else:
        f.write("Rule:\t{} -> {}.\n".format(rule[0],rule[1]))
f.close()